﻿@model ReisikuludAutentimisega.Models.UserInRole

@{
    ViewBag.Title = "Delete";
}

<h2>Kustuta roll</h2>

<h3>Kas sa oled kindel, et soovid kirje kustutada?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Isikukood
            @*@Html.DisplayNameFor(model => model.Person.PersonID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

        <dt>
            Roll
            @*@Html.DisplayNameFor(model => model.Role.RoleName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Kustuta" class="btn btn-default" />
        <br />
        <br />
        @Html.ActionLink("Tagasi nimekirja", "Index")
    </div>
    }
</div>
