﻿@model ReisikuludAutentimisega.Models.UserInRole

@{
    ViewBag.Title = "Details";
}

<h2>Vaata andmeid</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Isikukood
            @*@Html.DisplayNameFor(model => model.Person.PersonID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

        <dt>
            Roll
            @*@Html.DisplayNameFor(model => model.Role.RoleName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
