﻿@model IEnumerable<ReisikuludAutentimisega.Models.UserInRole>

@{
    ViewBag.Title = "Index";
}

<h2>Töötajate rollid</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Isikukood
            @*@Html.DisplayNameFor(model => model.Person.PersonID)*@
        </th>
        <th>
            Roll
            @*@Html.DisplayNameFor(model => model.Role.RoleName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.PersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.id }) |
            @Html.ActionLink("Vaata", "Details", new { id=item.id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
