﻿@model IPagedList<ReisikuludAutentimisega.Models.Travel>

@{
    ViewBag.Title = "Arhiiv";
}
@using PagedList.Mvc;
@using PagedList;
<h2>Arhiiv</h2>



@*<p>
    @if (Request.IsAuthenticated)
    {
        ReisikuludAutentimisega.Models.WienerEntities1 db = new ReisikuludAutentimisega.Models.WienerEntities1();
        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
        if ((people != null && people.UserInRoles.Select(x => x.Role.RoleName).Contains("Ülemus"))
            || (people != null && people.UserInRoles.Select(x => x.Role.RoleName).Contains("Direktor")))
        {

            @Html.CheckBox("check1", false) <b>Alluvate reisid</b>
            <br />
            @Html.CheckBox("check2", false) <b>Enda Reisid</b>

        }
    }
</p>*@
@using (Html.BeginForm("Index", "Travels", FormMethod.Get))
{

    <fieldset>
        

        @Html.Label("fStart", "Alguskuupäev:")
        <input class="fStart" id="fStart" name="fStart" type="date" value="">
        @Html.Label("fEnd", "Lõpukuupäev:")
        <input class="fEnd" id="fEnd" name="fEnd" type="date" value="">
        <input type="submit" value="Otsi"class="btn btn-default"  style="width: 120px" />
    </fieldset>
}

<p>
    @using (Html.BeginForm("Index", "Travels", FormMethod.Get))
    {
        <b>Otsi töötajat<a href="#" data-toggle="tooltip" title="Otsi töötajat ees- või perekonnanime järgi!">⍰</a></b> 
        @Html.TextBox("Otsing") <input type="submit" value="Otsi"class="btn btn-default"  style="width: 120px" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @*Töötaja nimi*@
            @Html.ActionLink("Töötaja nimi", "Index", new { direction = ((ViewBag.Sort == "LastName" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "LastName" })
        </th>
        <th>
            Reisi nimetus
        </th>
        <th>
            @*Alguskuupäev*@
            @Html.ActionLink("Alguskuupäev", "Index", new { direction = ((ViewBag.Sort == "StartDate" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "StartDate" })
        </th>
        <th>
            Lõpukuupäev
        </th>
        <th>
            Päevade arv
        </th>
        <th>
            @*Staatus*@
            @Html.ActionLink("Staatus", "Index", new { direction = ((ViewBag.Sort == "ReportState" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "ReportState" })
        </th>

        <th></th>
    </tr>

    

    @foreach (var item in Model)
    {
        if (Request.IsAuthenticated)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
           


                @if (item.ReportState == 4)

                    {
                        <td>
                            @Html.Label("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.Label("Delete", "Delete", new { id = item.Id })
                        </td>
                    }
                 
            </tr>
        }

    }

</table>