﻿@model ReisikuludAutentimisega.Models.Travel

@{
    ViewBag.Title = "Delete";
}

<h2>Kustuta</h2>

<h3>Kas sa oled kindel, et soovid kirje kustutada?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Reisi nimetus
            @*@Html.DisplayNameFor(model => model.TravelName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelName)
        </dd>

        <dt>
            Alguskuupäev
            @*@Html.DisplayNameFor(model => model.StartDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Lõpukuupäev
            @*@Html.DisplayNameFor(model => model.EndDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Reisi kirjeldus
            @*@Html.DisplayNameFor(model => model.Description)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Aruande staatus
            @*@Html.DisplayNameFor(model => model.State)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            Isikukood
            @*@Html.DisplayNameFor(model => model.Person.PersonID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

    </dl>

    <h3>Esitatud kulud</h3>
    <table class="table">
        <tr>
            <th>
                Kulutüüp
            </th>
            <th>
                Dokument
            </th>
            <th>
                Summa
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Spendings)
        {
            if (item.TravelId == this.Model.Id)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
                    </td>
                    <td>
                        @{if (item.Document != null)
                            {
                                @Html.Name("Lisatud")
                            }
                            else
                            {
                                @Html.Name("Puudub")
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)

                    </td>
                    @if (item.Travel.ReportState == 0 || item.Travel.ReportState == 2)
                    {
                        <td>
                            
                            @Html.ActionLink("Vaata", "Details", new { controller = "Spendings", id = item.Id })
                            
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                @ViewBag.Sum
            </td>
            <td></td>
        </tr>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>
    }
</div>
