﻿@model ReisikuludAutentimisega.Models.Travel

@{
    ViewBag.Title = "Details";
}

<h2>Reisi andmed</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Reisi sihtkoht
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelName)
        </dd>

        <dt>
            Reisi kirjeldus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Alguskuupäev
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Lõpukuupäev
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Päevade arv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            Isikukood
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

        <dt>
            Avalduse staatus
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.State)
        </dd>

    </dl>
</div>

<h3>Lisatud kulud</h3>
<table class="table">
    <tr>
        <th>
            Kulutüüp
        </th>
        <th>
            Dokument
        </th>
        <th>
            Summa
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Spendings)
    {
        if (item.TravelId == this.Model.Id)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
                </td>
                <td>
                    @{if (item.Document != null)
                        {
                            @Html.Name("Lisatud")
                        }
                        else
                        {
                            @Html.Name("Puudub")
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)

                </td>
                @if (item.Travel.ReportState == 0 || item.Travel.ReportState == 2)
                {
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { controller = "Spendings", id = item.Id }) |
                        @Html.ActionLink("Vaata", "Details", new { controller = "Spendings", id = item.Id }) |
                        @Html.ActionLink("Kustuta", "Delete", new { controller = "Spendings", id = item.Id })
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td>
            @ViewBag.Sum
        </td>
        <td></td>
    </tr>
</table>

@if (Model.ReportState == 3 && ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).UserInRoles.Select(x => x.Role.RoleName).Contains("Raamatupidaja"))
{
    <input type="button" title="Väljamakse" value="Väljamakse" onclick="location.href='@Url.Action("Payout", "Travels", new { id = this.Model.Id })'" class="btn btn-default" style="width: 120px" />
    <input type="button" title="Lükka tagasi" value="Lükka tagasi" onclick="location.href='@Url.Action("Reject", "Travels", new { id = this.Model.Id })'" class="btn btn-default" style="width: 120px" />
    <br />
    <br />
    <br />
}

@if ((Model.PersonId != ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).Id)
    && (Model.ReportState == 1 && ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).UserInRoles.Select(x => x.Role.RoleName).Contains("Ülemus"))
    || (Model.ReportState == 1 && ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).UserInRoles.Select(x => x.Role.RoleName).Contains("Direktor")))
    
{
    <input type="button" title="Kinnita" value="Kinnita" onclick="location.href='@Url.Action("Accept", "Travels", new { id = this.Model.Id })'" class="btn btn-default" style="width: 120px" />
    <input type="button" title="Lükka tagasi" value="Lükka tagasi" onclick="location.href='@Url.Action("Reject2", "Travels", new { id = this.Model.Id })'" class="btn btn-default" style="width: 120px" />
    <br />
    <br />
    <br />
}

<p>
    @if (this.Model.ReportState == 0 || this.Model.ReportState == 2)
    {
        @Html.ActionLink("Muuda ", "Edit", new { id = Model.Id })
        @Html.Label(" | ")
        @Html.ActionLink(" Tagasi nimekirja", "Index");
    }
    else
    {
        @Html.ActionLink("Tagasi nimekirja", "Index")
    }
</p>
