﻿@model ReisikuludAutentimisega.Models.Travel

@{
    ViewBag.Title = "Edit";
}

<h2>Muuda reisi andmeid</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TravelName, "Reisi sihtkoht", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Reisi kirjeldus", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Alguskuupäev", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Lõpukuupäev", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, "Päevade arv", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.HiddenFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Päevarahad, "Päevarahad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Päevarahad, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.HiddenFor(model => model.Päevarahad)
                @Html.ValidationMessageFor(model => model.Päevarahad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonId, "Isikukood", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                @Html.HiddenFor(model => model.PersonId)
                @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submit" type="submit" value="Lisa uus kulu" class="btn btn-default" style="width: 120px" />
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.ReportState, "Avalduse staatus", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReportState, null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                @Html.HiddenFor(model => model.ReportState)
                @Html.ValidationMessageFor(model => model.ReportState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submit" type="submit" value="Salvesta" class="btn btn-default" style="width: 120px" />
                <input name="submit" type="submit" value="Saada" class="btn btn-default" style="width: 120px" />
            </div>
        </div>
        <hr />
    </div>
}


<h3>Lisatud kulud</h3>
<table class="table">
    <tr>
        <th>
            Kulutüüp
        </th>
        <th>
            Dokument
        </th>
        <th>
            Summa
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Spendings)
    {
        if (item.TravelId == this.Model.Id)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
                </td>
                <td>
                    @{if (item.Document != null)
                        {
                            @Html.Name("Lisatud")
                        }
                        else
                        {
                            @Html.Name("Puudub")
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)

                </td>                
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { controller = "Spendings", id = item.Id }) |
                    @Html.ActionLink("Vaata", "Details", new { controller = "Spendings", id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { controller = "Spendings", id = item.Id })
                </td>
                
            </tr>
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td>
            @ViewBag.Sum
        </td>
        <td></td>        
    </tr>
</table>



<div>
    @Html.ActionLink("Tagasi nimekirja", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
