﻿@model IPagedList<ReisikuludAutentimisega.Models.Travel>


@{
    ViewBag.Title = "Avaldused";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Reiside nimekiri</h2>

<p>
    @Html.ActionLink("Koosta uus", "Create")
</p>

@using (Html.BeginForm("Index", "Travels", FormMethod.Get))
{

<fieldset>


    @Html.Label("fStart", "Alguskuupäev:")
    <input class="fStart" id="fStart" name="fStart" type="date" value="">
    @Html.Label("fEnd", "Lõpukuupäev:")
    <input class="fEnd" id="fEnd" name="fEnd" type="date" value="">
    <input type="submit" value="Otsi" class="btn btn-default" style="width: 120px" />
</fieldset>
}

<p>
    @using (Html.BeginForm("Index", "Travels", FormMethod.Get))
    {
        <b>Otsi töötajat<a href="#" data-toggle="tooltip" title="Otsi töötajat ees- või perekonnanime järgi!">⍰</a></b>
        @Html.TextBox("Otsing") <input type="submit" value="Otsi" class="btn btn-default" style="width: 120px" />
    }
</p>
@*<p>
        @using (Html.BeginForm("Index", "Travels", FormMethod.Get))
        {
            <b>Otsing</b> @Html.RadioButton("SearchBy", "Nimi", true) <text>Nimi</text>
            @Html.TextBox("Otsing") <input type="submit" value="Otsing" />
        }
    </p>*@

@*<div class="form-group">
    <select class="form-control" id="Person.FullName">
        @foreach (var category in Model.GroupBy(x => x.Person.FullName).Select(y => y.First()).ToList())
        {
            <option value="@category.Id">@category.Person.FullName</option>
        }
    </select>
</div>

<p>
    @if (Request.IsAuthenticated)
    {
        ReisikuludAutentimisega.Models.WienerEntities1 db = new ReisikuludAutentimisega.Models.WienerEntities1();
        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
        if ((people != null && people.UserInRoles.Select(x => x.Role.RoleName).Contains("Ülemus"))
            || (people != null && people.UserInRoles.Select(x => x.Role.RoleName).Contains("Direktor")))
        {


            <form action="" method="post">
                <input type="submit" value="Enda reisid" name="action:Save" />
                <input type="submit" value="Töötajate reisid" name="action:Cancel" />
            </form>

        }
    }
</p>*@


<table class="table">
    <tr>
        <th>
            @*Töötaja nimi*@
            @Html.ActionLink("Töötaja nimi", "Index", new { direction = ((ViewBag.Sort == "LastName" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "LastName" })
        </th>
        <th>
            Reisi sihtkoht
        </th>
        <th>
            @*Alguse kuupäev*@
            @Html.ActionLink("Alguskuupäev", "Index", new { direction = ((ViewBag.Sort == "StartDate" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "StartDate" })
        </th>
        <th>
            Lõpu kuupäev
        </th>
        <th>
            Päevade arv
        </th>
        <th>
            @*Staatus*@
            @Html.ActionLink("Staatus", "Index", new { direction = ((ViewBag.Sort == "ReportState" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "ReportState" })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (Request.IsAuthenticated)

        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @switch (item.State)
            {
                case "Koostamisel":
                    <span style="color: black;">@item.State</span>
                    break;
                case "Esitatud":
                    <b><span style="color: rebeccapurple;">@item.State</span></b>
                    break;
                case "Kinnitatud":
                    <b> <span style="color: blue;">@item.State</span></b>
                    break;
                case "Välja makstud":
                    <b> <span style="color: green;">@item.State</span></b>
                    break;
                case "Tagasi lükatud":
                    <b> <span style="color: red;">@item.State</span></b>
                    break;
            }
        </td>
                
        @if ((item.ReportState == 3 || item.ReportState == 4)
            && ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).UserInRoles.Select(x => x.Role.RoleName).Contains("Raamatupidaja")
            && item.Person.FullName != ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).FullName)
        {
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        }

        else if (item.ReportState == 0 || item.ReportState == 2)

        {
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Vaata", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        }
        else if (item.ReportState == 1 || item.ReportState == 3 || item.ReportState == 4)
        {
            <td>                
                @Html.ActionLink("Vaata", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        }
                
    </tr>
        }

    }

</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "Travels", new { i, search = Request.QueryString["search"] }))

<hr />

<h3>Avaldused staatusega "välja makstud"</h3>
<a href="#" data-toggle="tooltip" title="Tabelis on kuvatud viimase poole aasta avaldused staatusega välja makstud">⍰</a>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Töötaja nimi", "Index", new { direction = ((ViewBag.Sort == "LastName" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "LastName" })
        </th>
        <th>
            Reisi sihtkoht
        </th>
        <th>
            @Html.ActionLink("Alguskuupäev", "Index", new { direction = ((ViewBag.Sort == "StartDate" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "StartDate" })
        </th>
        <th>
            Lõpukuupäev
        </th>
        <th>
            Päevade arv
        </th>
        <th>
            @Html.ActionLink("Staatus", "Index", new { direction = ((ViewBag.Sort == "ReportState" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "ReportState" })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Take(20))
    {
        if (Request.IsAuthenticated && item.ReportState == 4 && (item.StartDate >= DateTime.Today.AddMonths(-6) && item.StartDate <= DateTime.Today)
            && item.Person.FullName == ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).FullName)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
            </tr>
        }

    }
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}