﻿@model ReisikuludAutentimisega.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Kas sa oled kindel, et soovid kirje kustutada?</h2>

<h3></h3>
<div>
    <h4>Töötaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Isikukood
            @*@Html.DisplayNameFor(model => model.PersonID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            Eesnimi
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Perekonnanimi
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Alustamise kuupäev
            @*@Html.DisplayNameFor(model => model.StartDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Staatus
            @*@Html.DisplayNameFor(model => model.PersonState)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>

        <dt>
            E-Mail
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Osakonnanimi
            @*@Html.DisplayNameFor(model => model.Department.DepartmentName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>
    }
</div>
