﻿@model ReisikuludAutentimisega.Models.Person


@{
    ViewBag.Title = "Details";
}

<h2>Andmed</h2>

<div>
    <h4>Töötaja</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Isikukood
            @*@Html.DisplayNameFor(model => model.PersonID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            Eesnimi
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Perekonnanimi
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Alustamise kuupäev
            @*@Html.DisplayNameFor(model => model.StartDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Töötaja staatus
            @*@Html.DisplayNameFor(model => model.State)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            E-mail
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Osakonnanimi
            @*@Html.DisplayNameFor(model => model.Department.DepartmentName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt>
            Roll
            @*@Html.DisplayNameFor(model => model.UserInRoles)*@
        </dt>
        <dd>
            @foreach (var r in Model.UserInRoles)
              {
        <p>@r.Role.RoleName</p>
              }
        </dd>

        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>*@

    </dl>
</div> 
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
