﻿@model IPagedList<ReisikuludAutentimisega.Models.Person>

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;

@using PagedList.Mvc;
@using PagedList;

<h2>Töötajate andmebaas</h2>

<p>
    @Html.ActionLink("Lisa uus inimene", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "People", FormMethod.Get))
    {
        <b>Otsing</b> @Html.RadioButton("SearchBy", "Nimi", true) <text>Nimi</text>
        @Html.RadioButton("SearchBy", "Isikukood") <text>Isikukood</text> <a href="#" data-toggle="tooltip" title="Otsi töötajat ees- või perekonnanime järgi!">⍰</a> <br />
        @Html.TextBox("Otsing") <input type="submit" value="Otsi" class="btn btn-default"  style="width: 120px"/>
    }
</p>
<table class="table">
    <tr>
        <th> 
            Isikukood
            @*@Html.DisplayNameFor(model => model.First().PersonID)*@
        </th>
        <th>
            Eesnimi
            @*@Html.DisplayNameFor(model => model.First().FirstName)*@
        </th>
        <th>
            Perekonnanimi
            @*@Html.DisplayNameFor(model => model.First().LastName)*@
        </th>
        <th>
            Alustamise kuupäev
            @*@Html.DisplayNameFor(model => model.First().StartDate)*@
        </th>
        <th>
            Staatus
            @*@Html.DisplayNameFor(model => model.First().State)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>*@
        <th>
            Osakond
            @*@Html.DisplayNameFor(model => model.First().Department.DepartmentName)*@
        </th>
        <th>
            Kasutaja rollid
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td>Otsing ei andnud tulemusi</td>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
              
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @foreach (var r in item.UserInRoles)
                {
                    <p>@r.Role.RoleName</p>
                }
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Vaata", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }



</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "People", new { i, search = Request.QueryString["search"] }))