﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        if (ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name) != null)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Kasutaja: " + ReisikuludAutentimisega.Models.Person.GetByEmail(User.Identity.Name).FullName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Välju</a></li>
            </ul>
        }
        else
        {

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Kasutaja: " + User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Välju</a></li>
            </ul>

        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated)
        {
            ReisikuludAutentimisega.Models.WienerEntities1 db = new ReisikuludAutentimisega.Models.WienerEntities1();
            var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
            if (people != null)
            {
                if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                {

                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                }

            }
        }

        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
