﻿@model ReisikuludAutentimisega.Models.Spending

@{
    ViewBag.Title = "Delete";
}

<h2>Kustuta reisikulu</h2>

<h3>Kas sa oled kindel, et soovid kirje kustutada?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Summa
            @*@Html.DisplayNameFor(model => model.Amount)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Kuludokument
            @*@Html.DisplayNameFor(model => model.File.Filename)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>

        <dt>
            Reisi nimetus
            @*@Html.DisplayNameFor(model => model.Travel.TravelName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.TravelName)
        </dd>

        <dt>
            Kulutüüp
            @*@Html.DisplayNameFor(model => model.SpendingType.SpendingName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingType.SpendingName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @*@Html.ActionLink("Tagasi nimekirja", "Index")*@
        </div>
    }
</div>
