﻿@model ReisikuludAutentimisega.Models.Spending

@{
    ViewBag.Title = "Details";
}

<h2>Reisikulude andmed</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Summa
            @*@Html.DisplayNameFor(model => model.Amount)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Kuludokument
            @*@Html.DisplayNameFor(model => model.File.Filename)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>

        <dt>
            Reisi sihtkoht
            @*@Html.DisplayNameFor(model => model.Travel.TravelName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.TravelName)
        </dd>

        <dt>
            Kulutüüp
            @*@Html.DisplayNameFor(model => model.SpendingType.SpendingName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingType.SpendingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @*@Html.ActionLink("Tagasi nimekirja", "Index")*@
</p>
