﻿@model IEnumerable<ReisikuludAutentimisega.Models.Spending>

@{
    ViewBag.Title = "Index";
}

<h2>Esitatud kulud</h2>

@*<p>
    @Html.ActionLink("Lisa uus kulu", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Summa
            @*@Html.DisplayNameFor(model => model.Amount)*@
        </th>
        <th>
            Kuludokument
            @*@Html.DisplayNameFor(model => model.File.Filename)*@
        </th>
        <th>
            Reisi sihtkoht
            @*@Html.DisplayNameFor(model => model.Travel.TravelName)*@
        </th>
        <th>
            Kulutüüp
            @*@Html.DisplayNameFor(model => model.SpendingType.SpendingName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Travel.TravelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Vaata", "Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
